@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Traffic Light Control</h1>
    <form method="POST" action="/home/index">
        <div class="form-group">
            <label for="program" class="form-control is-required">Select Program</label>
            <select name="program" id="program" class="form-control">
                <option value=""></option>
                <optgroup label="Traffic Programs">
                    <option value="us">US Traffic</option>
                    <option value="ussensor">US Traffic with Sensor</option>
                    <option value="uk">UK Traffic</option>
                </optgroup>
                <optgroup label="Games">
                    <option value="rglight">Red Light, Green Light</option>
                    <option value="rglightyellow">Red Light, Green Light with Yellow</option>
                </optgroup>
                <optgroup label="Flashers">
                    <option value="flashred">Flash Red</option>
                    <option value="flashyellow">Flash Yellow</option>
                    <option value="flashgreen">Flash Green</option>
                </optgroup>
                <optgroup label="Solid">
                    <option value="solidred">Solid Red</option>
                    <option value="solidyellow">Solid Yellow</option>
                    <option value="solidgreen">Solid Green</option>
                    <option value="alllights">All Lights Solid</option>
                </optgroup>
                <option value="partymode">Party Mode</option>
                <optgroup label="Toastmasters">
                    <option value="tm1to2">1-2 Minute Speech</option>
                    <option value="tm2to3">2-3 Minute Speech</option>
                    <option value="tm4to6">4-6 Minute Speech</option>
                    <option value="tm5to7">5-7 Minute Speech</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="none">Sleep</option>
                    <option value="restart">Restart</option>
                    <option value="shutdown">Shut Down</option>
                </optgroup>
            </select>
        </div>
        <div>
            <button class="form-control btn-secondary" type="submit">Run Program</button>
        </div>
    </form>
</div>