[Unit]
Description=Traffic Pi Web
After=network.target
Documentation=https://thealmostengineer.com/trafficpi

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/trafficpi/Almostengr.TrafficPi.Web
User=pi

[Install]
WantedBy=multi-user.target